<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{process.list.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1">[[#{process.list.headline}]]</h1>
                <div>
                    <a th:href="@{/processes/add}" class="btn btn-primary ms-2">[[#{process.list.createNew}]]</a>
                </div>
            </div>
            <div th:if="${processes.empty}">[[#{process.list.empty}]]</div>
            <div th:if="${!processes.empty}" class="table-responsive">
                <table class="table table-striped table-hover align-middle">
                    <thead>
                        <tr>
                            <th scope="col">[[#{process.id.label}]]</th>
                            <th scope="col">[[#{process.modelId.label}]]</th>
                            <th scope="col">[[#{process.processName.label}]]</th>
                            <th><!-- --></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="process : ${processes}">
                            <td>[[${process.id}]]</td>
                            <td>[[${process.key}]]</td>
                            <td>[[${process.name}]]</td>
                            <td>
                                <div class="float-end text-nowrap">
                                    <a th:href="@{/processes/start/{id}(id=${process.id})}" class="btn btn-sm btn-secondary">[[#{process.list.edit}]]</a>
<!--                                    <form th:action="@{/processes/delete/{id}(id=${process.id})}"
                                            th:hx-confirm="#{delete.confirm}" method="post" class="d-inline">
                                        <button type="submit" class="btn btn-sm btn-secondary">[[#{process.list.delete}]]</button>
                                    </form>-->
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
