<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<head>
    <title>Tasks Management</title>
</head>
<body>
<main layout:fragment="content">
    <div class="d-flex flex-column flex-md-row justify-content-between align-items-start align-items-md-center mb-3 mb-md-2">
        <div class="mb-2 mb-md-0">
            <h2 class="mb-1 fw-bold">Tasks Management</h2>
            <div class="text-muted fs-5">Monitor and manage all your process tasks</div>
        </div>
    </div>
    <div class="d-flex justify-content-end mb-2">
        <input type="text" class="form-control search-bar" placeholder="Search">
    </div>
    <div th:replace="fragments/recent-tasks :: recentTasksTable(${tasks})"></div>
</main>
</body>
</html>
